
.button {
   width: 75px;
   height: 55px;
   border-radius: 35%;
   font-family: "Protest Riot";
   font-style: italic;
   cursor: pointer;

}

.pause {
   background-color: #eef7a4;
}

.play {
   background-color: #b6f5bf;
}

.gameOver {
   background-color: #ff4747;
}

.newGame {
   background-color: #cbc2fd;
}
 
